@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

html, body {
    margin: 0;
    padding: 0 0 40px 0;
    background-color: #EEEDEB;
    font-family: 'JetBrains Mono', monospace;
    font-variant-ligatures: none;
}